.banner {
    display: flex;
    align-items: flex-start;
    text-align: center;
    background-image: cover;
    color: white;
    padding: 10px;

}
.btn-class {
    color: white;
    background-color: #1EDD88;
    border-radius: 50px;
    padding: 14px;
    margin: 10px, 0px, 10px, 0px;

}